<div class="container">

  <div class="form-group">
    <label for="qr-data">Enter Text or URL:</label>
    <textarea id="qr-data" [(ngModel)]="qrData" rows="2" placeholder="Enter your text here"></textarea>
  </div>

  <!-- Correction Level with Info Icon -->
  <div class="form-group">
    <label for="errorCorrectionLevel">
      Error Correction Level:
      <span class="info-icon" title="Defines the level of data recovery in case of QR code damage. Higher levels make the QR code more durable but reduce data capacity.">
        &#9432;
      </span>
    </label>
    <select id="errorCorrectionLevel" [(ngModel)]="errorCorrectionLevel">
      <option value="L">Low (L) - 7% data recovery</option>
      <option value="M">Medium (M) - 15% data recovery</option>
      <option value="Q">Quartile (Q) - 25% data recovery</option>
      <option value="H">High (H) - 30% data recovery</option>
    </select>
  </div>

  <!-- Transparent Background Toggle -->
  <div class="form-group checkbox-group">
    <label for="transparentBackground">Transparent Background:</label>
    <input type="checkbox" id="transparentBackground" [(ngModel)]="transparentBackground" (change)="toggleTransparentBackground()">
  </div>

  <!-- Light Color Picker, Disabled if Transparent Background is Selected -->
  <div class="form-group">
    <label for="colorLight">Background Color:</label>
    <input
      id="colorLight"
      type="color"
      [(ngModel)]="colorLight"
      [disabled]="transparentBackground"
      [class.disabled]="transparentBackground"
    />
    <p *ngIf="transparentBackground" class="disabled-message">Background is transparent</p>
  </div>

  <!-- Dark Color Picker -->
  <div class="form-group">
    <label for="colorDark">QR Color:</label>
    <input id="colorDark" type="color" [(ngModel)]="colorDark">
  </div>

  <div class="qr-container">
    <div *ngIf="!qrData" class="qr-placeholder">
      Here will be your QR code
    </div>
    <div *ngIf="qrData" #qrcode>
      <qrcode
        [qrdata]="qrData"
        [elementType]="elementType"
        [errorCorrectionLevel]="errorCorrectionLevel"
        [margin]="margin"
        [width]="width"
        [colorDark]="colorDark"
        [colorLight]="colorLight">
      </qrcode>
    </div>
  </div>

  <button class="download-btn" [disabled]="!qrData" (click)="downloadQR()">Download QR Code</button>
</div>
